/*selecting every element on the page to clear everything*/
* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

header{

  text-align: right;
  font-family: 'Lato', sans-serif;


}

header a:hover {
  color: purple;

}

header a:visited {
  color:white;

}

nav a {
  padding: 10px;
  text-decoration: none;
  color: white;

}

h3 .fa{
  font-size: 2.2rem;
}

h1 {
font-family: 'Annie Use Your Telescope', cursive;

  font-style: normal;
  font-size: 62px;
  padding: 1vh 2%;
}

h1 {
  color: white

}
header {
  color: white

}

h2 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;

}

h3 {
  padding: 25px;
  font-family: 'Lato', sans-serif;

}

h4 {
  font-family: 'Annie Use Your Telescope', cursive;
    font-style: normal;
  font-size: 55px;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

a:visited {
  color: white;

}


.first, .gif {
  background-image:
  url("https://media.giphy.com/media/l0Exbou9I0sy2KXQc/source.gif");
  min-width: 100vw;
min-height: 100vh;
background-attachment: fixed;
background-size:cover;
background-position: center;
padding: 15px;

text-align: center;
}


#about {min-height: 100vh;
background-size:cover;

text-align: center;
/*padding-left: 300px;
padding-right: 300px;*/
padding-top: 100px;
padding-bottom: 70px;
background-color: #2B2747;
color: #031944;

}
/*this area works instead of the original margins*/
.about-div {
  background-color: white;
  padding: 40px;
  margin:0 auto;
}

/*margin - auto centres the box, if the 0 was absent it would be applied to all four sides*/

.about-div.col-12 {
  max-width: 80%;
}

#about .fa{
  font-size: 1.5rem;
}



#skills {

min-height: 100vh;
background-size:cover;
padding: 70px;
text-align: center;
background-color: #E9EADC;
color: #031944;

}

.skills-div {
  width: 100%;
  max-width: 782px;
  margin: 0 auto;
}

/*

#skills div {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}*/


#skills .fa{
  font-size: 1.5rem;
}



iframe{
  box-sizing: border-box;
  width: 100%;

}

.maps iframe{
    pointer-events: none;
}

/*this bit of css removes the map from tablets and mobiles*/
@media(max-width:768px) {
  .maps {
    display:none;

  }
/*
  #about {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

}*/
}

#experience {
  min-width: 100vw;
min-height: 100vh;
background-size:cover;
padding: 70px;
text-align: center;
padding-left: 300px;
padding-right: 300px;
padding-top: 70px;
padding-bottom: 70px;
background-color: #2B2747;
color: #E9EADC;

}
/*
#experience div {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}*/

#experience .fa{
  font-size: 1.5rem;
}

.gif {
  min-height: 400px;
}

footer h4 {
  font-family: 'Annie Use Your Telescope', cursive;

    font-style: normal;
    font-size: 55px;
}

#contact {
  min-width: 100vw;
  min-height: 30vh;

  padding: 70px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2B2747;
  color: white;
}

.contact a {
  color: white;

}

footer .fa{
  font-size: 3rem;
}

footer a{
  font-family: 'Lato', sans-serif;
}

footer a:hover {
  color: purple;

}
